<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pass</title>
</head>
<body>
    <h1>Start time: {{start_time}}</h1>
    <h1>End time: {{end_time}}</h1>
    <h1>
        Results:
         <br>
            <ul><li>{{results}}</li></ul>
            
            <!-- {% for result in results %} 
                {% for i in result %} 
                    <ul>
                        <li>{{i}}</li>
                    </ul>
                {% endfor %}
            {% endfor %} -->
         <br>
    </h1>
</body>
</html>